@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declarations for custom fonts */
@font-face {
  font-family: 'DrunkenHour';
  src: url('/fonts/DrunkenHour/drunkenhourDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dynapuff';
  src: url('/fonts/Dynapuff/DynaPuff-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('/fonts/PublicSans/PublicSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('/fonts/PublicSans/PublicSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'PublicSans', sans-serif; /* Default to PublicSans for normal text */
}

/* Heading and title fonts */
/* h1, h2, h3 {
  font-family: 'DrunkenHour', cursive; 
}

h4, h5, h6 {
  font-family: 'Dynapuff', sans-serif; 
} */
